.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent-color);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.title {
    font-family: var(--font-fun);
    font-size: 1.5rem;
    color: var(--dark-color);
}

.gameArea {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}